/*
Major COLORS used

#53AB1F — deep green
#6E5747 — dark brown
#D5D3C4 — light brown
*/

/* YUI 3.5.0 reset.css (http://developer.yahoo.com/yui/3/cssreset/) - http://cssreset.com */
html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}input,textarea,select{*font-size:100%}legend{color:#000}#yui3-css-stamp.cssreset{display:none}

html, body {
    height: 100%;
    font-size: 12pt;
    line-height: 12pt;
    font-weight: 100;
    font-family: 'Roboto', arial, 'sans-serif';
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    overflow: hidden;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 320px;
    position: relative;
}

h1, h2, h3 {
    font-weight: 100;
}

h1 {
    color: #53AB1F;
    font-size: 1.7em;
    line-height: 1.4em;
    font-weight: 100;
}

h2 {
    color: #6E5747;
    font-size: 1.1em;
    font-weight: 100;
}

h3 {
    color: #6E5747;
    font-size: 1em;
    font-weight: 100;
    padding: 5px 5px;
    background-color: #f7f7f4;
}

.charet {
	width: 15px;
	height: 13px;
	display: inline-block;
	background: url('../assets/icons/right_charet.png') no-repeat right 2px;
	background-size: 13px 11px;
}

h4 {
    color: #53AB1F;
    font-size: 1em;
}

.highlight {
    color: #53AB1F;
}

p.clear {
    clear: both;
}

.marquee, .tip {
    text-align: center;
    width: 100%; 
    height: 200px; 
    display: table-cell;
    vertical-align: middle;
    border-top: 5px solid #CBC8B5;
    border-bottom: 5px solid #CBC8B5;
    background: url('../assets/bg-marquee.png');
}

.top-section {
    text-align: center;
    width: 100%;
    height: 200px;
    display: table-cell;
    position: relative;
    vertical-align: middle;
    border-top: 5px solid #CBC8B5;
    border-bottom: 5px solid #CBC8B5;
    background: url('../assets/bg-marquee.png');
}

.carousel{
    height: 100%;
}

.bottom-section {
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 0;
}

.modal {
    position: absolute;
    background: url("../assets/modal_bg.png") repeat;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 999999999;
}

.modal_content {
    background-color: #fff;
    box-shadow: 0 2px 12px 0 #6b6767;
    border-radius: 7px;
    margin: 10px;
    padding: 10px;
    position: absolute;
    left: 0;
    right: 0;
    max-height: 575px;
}

.modal_content .poc {
	max-height: 575px;
	overflow: hidden;
}

.modal_content img {
    display: block;
    margin: 0 auto;
}

.modal_close {
    background: url("../assets/icons/modal_close.png") no-repeat;
    width: 28px;
    height: 28px;
    position: absolute;
    right: -7px;
    top: -15px;
}

.body {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #fff;
    z-index: 998;
    height: 100%
}

.canvas {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    background: #fff;
    z-index: 0;
}

.events_today {
    color: #53AB1F;
    text-align: left;
    width: 70%;
    margin: 0 auto;
}

.events_today li {
    padding: 4px 5px;
    font-size: 0.9em;
}

.event_time {
    color: #6e5747;
    float: right;
}

.tip {
    line-height: 1.5em;
}

.tip_body {
    font-size: 0.95em;
    width: 70%;
    margin: 0 auto;
}

.main_menu li, .sub_menu li, .final_menu li {
    color: #6E5747;
    font-size: 1.3em;
    width: 100%;
    height: 65px;
    line-height: 65px;
    vertical-align: middle;
    border-bottom: 1px solid #D5D3C4;
    background: linear-gradient(#efeee9, #eae9e1);
}

.main_menu li:last-child, .sub_menu li:last-child, .final_menu li:last-child {
    border-bottom: none;
}

.final_menu li {
    font-size: 1.2em;
    height: 50px;
    line-height: 50px;
}

.main_menu li div, .sub_menu li div {
    width: 65px;
    height: 65px;
    position: absolute;
}

.final_menu div {
    width: 9px;
    height: 50px;
    position: absolute;
}

.final_menu li.menu_preview, .menu_preview div {
    height: 65px;
}

.menu_preview span {
    padding-top: 12px;
    height: 52px;
    line-height: 22px;
}

.menu_preview p {
    color: #53AB1F;
    font-size: 0.7em;
    width: 95%;
}

.main_menu li:hover, .sub_menu li:hover, .final_menu li:hover {
    background: linear-gradient(#E5E3DA, #DBD9CB);
}

.main_menu li:active, .sub_menu li:active, .final_menu li:active {
    color: #EFEEE9;
    font-weight: 400;
    background: linear-gradient(#928175, #6E5747);
}

.menu li span {
    display: block;
    vertical-align: middle;
    margin: 0 15px 0 80px;
}

.menu li span, .menu li span p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main_menu li span, .sub_menu li span, .menu_preview span {
    background: url('../assets/icons/right_charet.png') no-repeat right center;
}

.sub_menu li span {
    margin-left: 60px;
}

.final_menu li span {
    margin-left: 30px;
    padding-right: 25px;
}

.link_preview {
    font-size: 0.7em;
}

.lesson_row {
	width: 1000px;
	padding: 25px 0 10px 25px;
}

.lesson_row h5 {
	color: #53AB1F;
	font-size: 1.3em;
	font-weight: 300;
}

.modules_row {
	margin: 15px 0 5px;
}

.fader {
	width: 100px;
	height: 160px;
	position: absolute;
	right: 0;
	z-index: 1001;
	background: linear-gradient(to right, rgba(255, 255, 255, 0),  rgba(255, 255, 255, 1));
}

div.scrollfader_bottom {
	width: 100%;
	height: 30px;
	position: absolute;
	bottom: 0;
	z-index: 1001;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0),  rgba(255, 255, 255, 1));
}

div.scrollfader_top {
	width: 100%;
	height: 30px;
	position: absolute;
	top: 0;
	z-index: 1000;
	background: linear-gradient(to top, rgba(255, 255, 255, 0),  rgba(255, 255, 255, 1));
}

.modules_row li {
	float: left;
}

.module {
	width: 130px;
	height: 70px;
	color: #6e5747;
	line-height: 1.4em;
	padding: 80px 10px 0 ;
	border: 2px solid #f7f7f4;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-right: 15px;
}

.pretest {
	color: #6e5747;
	line-height: 1.4em;
	padding: 80px 10px 0 ;
	background: #f7f7f4 url('../assets/icons/pretest_check.png') no-repeat 10px 10px;
}

.main_title {
    margin-bottom: 35px;
}

.poc h4 {
    /* Point of Care page title */
    color: #53AB1F;
    font-size: 1.5em;
    text-align: center;
    font-weight: 300;
    line-height: 32px;
}

.poc h5 {
    /* Point of Care page subtitle */
    color: #6E5747;
    font-size: 1.2em;
    text-align: center;
    font-weight: 300;
}

.poc h6 {
    color: #6E5747;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.4em;
    margin-bottom: 10px;
}

.scroll {
    min-height: 200px;
    height: 400px;
    max-height: auto;
    overflow-y: scroll;
    /*padding-bottom: 50px;*/
}

.triage_list li {
    color: #6E5747;
    max-width: 90%;
    width: 320px;
    line-height: 30px;
    margin: 0 auto 10px;
    background-color: #EFEEE9;
    text-align: center;
    display: block;
}

.triage_list li:hover {
    background-color: #E2E1D6;
}

.triage_list li:active {
    color: #EFEEE9;
    background-color: #6E5747;
    font-weight: 400;
}

.triage_list li span {
    display: inline-block;
    vertical-align: middle;
    line-height: 20px;
    padding: 17px 5px;
}

li.triage_urgent {
    color: #912A30;
}

li.triage_no {
    background-color: #E2E1D6;
}

#back_btn {
    width: 90%;
    height: 60px;
    margin: 0 auto;
    background: #FFF url('../assets/btn-back.png') no-repeat center top;
    z-index: 1002;
}

.sticky {
    width: 320px;
    margin: 15px auto 130px;
    display: block;
}

fieldset {
    border: dashed #53AB1F 1px;
    padding: 10px;
    margin-bottom: 25px;
}

legend {
    color: #6e5747;
    font-size: 1.1em;
    padding: 0 10px;
    line-height: 1.3em;
}

.check_list li {
    font-size: 0.9em;
    padding: 6px 10px;
    line-height: 1.3em;
}

.action_list li, .advise_list li {
    font-size: .95em;
    padding: 9px 10px 9px 33px;
    line-height: 1.5em;
}

.advise_list li {
    padding: 9px 10px 9px 33px;
}

.modal_link {
    padding: 4px 7px;
    margin: 0 3px;
    display: inline-block;
    background-color: #FFF;
    border: 1px dotted #53AB1F;
}

.action_list li {
    font-size: .95em;
    padding: 9px 10px 9px 33px;
    line-height: 1.5em;
}

ul.action_list li {
    padding: 9px 10px;
}

.modal_link {
    padding: 4px 7px;
    margin: 0 3px;
    display: inline-block;
    background-color: #FFF;
    border: 1px dotted #53AB1F;
	padding: 4px 7px;
	margin: 0 3px;
	display: inline-block;
	background-color: #FFF;
	border: 1px dotted #53AB1F;
}

.modal_link:hover {
    background-color: #DDEED2;
}

.modal_link:active {
    background-color: #BADDA5;
}

ol {
    counter-reset:li; /* Initiate a counter */
    margin-left:0; /* Remove the default left margin */
    padding-left:0; /* Remove the default left padding */
}

ol > li {
    position:relative; /* Create a positioning context */
}

ol > li:before {
    content:counter(li); /* Use the counter as content */
    counter-increment:li; /* Increment the counter by 1 */
    /* Position and style the number */
    position: absolute;
    top: 0;
    left: -5px;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    width: 43px;
    padding: 9px;
    color: #DDDBCF;
    font-size: 1.5em;
    text-align:center;
}

ol > li.module:before {
	color: #f2f1ec;
	font-size: 4.5em;
	margin-top: 20px;
}

.toolbox {
    margin: 30px auto;
    padding: 0;
    font-size: 0.9em;
    line-height: 1.3em;
    max-width: 90%;
    width: 370px;
}

.toolbox legend {
    height: 27px;
    width: 10px;
    margin: 15px 7px 5px;
    padding-bottom: 0;
    background: url('../assets/icons/lightning.png') no-repeat center 5px;
}

.toolbox li {
    padding: 0 30px 15px;
    line-height: 1.3em;
}

.check_list li:nth-child(odd),
.action_list li:nth-child(odd) {
    background: #F7F7F4;
}

.action_list li:nth-child(odd) {
    border-top: 1px solid #D5D3C4;
    border-bottom: 1px solid #D5D3C4;
}

.sublist li, .sublist li:nth-child(odd) {
    background: none;
    border: none;
    padding-bottom: 3px;
}


/*
BEGIN menu icons 
*/
.planner .btn_icon {
    background: url('../assets/icons/menu/planner.png') no-repeat;
}
.poc .btn_icon {
    background: url('../assets/icons/menu/poc.png') no-repeat;
}
.learning_center .btn_icon {
    background: url('../assets/icons/menu/learning.png') no-repeat;
}
.achievements .btn_icon {
    background: url('../assets/icons/menu/achievements.png') no-repeat;
}
.staying_well .btn_icon {
    background: url('../assets/icons/menu/stayingwell.png') no-repeat;
}
.antenatal .btn_icon {
    background: url('../assets/icons/menu/antenatal.png') no-repeat 20px center;
}
.fam_planning .btn_icon {
    background: url('../assets/icons/menu/famplanning.png') no-repeat 20px center;
}
.postnatal .btn_icon {
    background: url('../assets/icons/menu/postnatal.png') no-repeat 20px center;
}
.learning_modules .btn_icon {
    background: url('../assets/icons/menu/learning_modules.png') no-repeat 20px center;
}
.learning_references .btn_icon {
    background: url('../assets/icons/menu/learning_references.png') no-repeat 20px center;
}
.diagnostic .btn_icon {
    background: url('../assets/icons/menu/diagnostic.png') no-repeat 20px center;
}
.counseling .btn_icon {
    background: url('../assets/icons/menu/counseling.png') no-repeat 20px center;
}
.calculators .btn_icon {
    background: url('../assets/icons/menu/calculators.png') no-repeat 20px center;
}
.references .btn_icon {
    background: url('../assets/icons/menu/references.png') no-repeat 20px center;
}
.final_menu .btn_icon {
    background: linear-gradient(#87C463, #53AB1F);
}
/*
END menu icons 
*/


/*
BEGIN action page borders and header styles
*/
.action1:before,
.action1:after,
.action2:before,
.action2:after,
.action3:before,
.action3:after {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    height: 9px;
}
.action1:before,
.action1:after {
    background: #CBE6BB;
}
.action2:before,
.action2:after {
    background: #F4E19D;
}
.action3:before,
.action3:after {
    background: #AD6064;
}
.action1:before,
.action2:before,
.action3:before {
    top: 0;
}
.action1:after,
.action2:after,
.action3:after {
    bottom: 0;
}
.action1 {
    border-left: 9px solid #CBE6BB;
    border-right: 9px solid #CBE6BB;
}
.action2 {
    border-left: 9px solid #F4E19D;
    border-right: 9px solid #F4E19D;
}
.action3 {
    border-left: 9px solid #AD6064;
    border-right: 9px solid #AD6064;
}
.action2 h4 {
    color: #F4E19D;
}
.action3 h4 {
    color: #B26A6F;
}
/*
END action page borders and header styles
*/


/*
BEGIN image definitons
*/
.illustration {
    margin: 0 auto 20px;
    display: block;
    background: no-repeat left top;
}
.inline {
    /*display: block;*/
    float: left;
}
ol .illustration, ul .illustration {
    margin: 0;
}
.illustration_float {
    /*display: block;*/
    float: left;
    margin-right: 8px;
}

.abdominalpains {
    width: 63px;
    height: 139px;
    background: url('../assets/images/abdominalpains.png');
    background-size: 63px 139px;
}
.anaemia {
    width: 70px;
    height: 99px;
    background: url('../assets/images/anaemiabig.png');
}
.anaemia_large {
    width: 70px;
    height: 99px;
    background: url('../assets/images/anaemiabig.png');
    margin: 0 auto 20px;
    /*display: block;*/
    background: no-repeat left top;
}
.bleeding {
    width: 49px;
    height: 129px;
    background: url('../assets/images/bleeding.png');
    background-size: 49px 129px;
}
.deliveryprep_small {
    width: 134px;
    height: 99px;
    background: url('../assets/images/deliveryprep.png');
    background-size: 134px 99px;
}
.fever_large {
    width: 118px;
    height: 140px;
    background: url('../assets/images/fever.png');
}
.fever {
    width: 118px;
    height: 140px;
    background: url('../assets/images/fever.png');
    background-size: 118px 140px;
}
.headaches {
    width: 68px;
    height: 124px;
    background: url('../assets/images/headaches.png');
    background-size: 68px 124px;
}
.saveforbirth {
    width: 250px;
    height: 188px;
    background: url('../assets/images/saveforbirth.png');
    background-size: 250px 188px;
}
.swelling {
    width: 82px;
    height: 112px;
    background: url('../assets/images/swelling.png');
    background-size: 82px 112px;
}
.transport {
    width: 250px;
    height: 125px;
    background: url('../assets/images/transpo.png');
    background-size: 250px 125px;
}
.transport2 {
    width: 250px;
    height: 125px;
    background: url('../assets/images/transpo2.png');
    background-size: 250px 125px;
}
.vomiting {
    width: 63px;
    height: 109px;
    background: url('../assets/images/excessivevomiting.png');
    background-size: 63px 109px;
}
/*
END image definitons
*/


/*
BEGIN glyphicon definitons
*/
.glyphicon {
    padding-left: 32px;
}

.check {
    background: url('../assets/icons/glyphicons/glyphicons_152_check.png') no-repeat 9px 8px;
    background-size: 14px 12px;
}
.clock {
    background: url('../assets/icons/glyphicons/glyphicons_054_clock.png') no-repeat 9px 8px;
    background-size: 12px 12px;
}
.cutlery {
    background: url('../assets/icons/glyphicons/glyphicons_276_cutlery.png') no-repeat 9px 8px;
    background-size: 8px 12px;
}
.eye_open {
    background: url('../assets/icons/glyphicons/glyphicons_051_eye_open.png') no-repeat 5px 8px;
    background-size: 20px 12px;
}
.heart {
    background: url('../assets/icons/glyphicons/glyphicons_012_heart.png') no-repeat 9px 8px;
    background-size: 12px 12px;
}
.smoking {
    background: url('../assets/icons/glyphicons/glyphicons_362_smoking.png') no-repeat 9px 8px;
    background-size: 14px 12px;
}
.stroller {
    background: url('../assets/icons/glyphicons/glyphicons_075_stroller.png') no-repeat 9px 8px;
    background-size: 13px 12px;
}
.warning {
    background: url('../assets/icons/glyphicons/glyphicons_078_warning_sign.png') no-repeat 9px 8px;
    background-size: 13px 12px;
}
/*
END glyphicon definitons
*/