/*
Major COLORS used

#53AB1F — deep green
#6E5747 — dark brown
#D5D3C4 — light brown

*/

/* YUI 3.5.0 reset.css (http://developer.yahoo.com/yui/3/cssreset/) - http://cssreset.com */
html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}input,textarea,select{*font-size:100%}legend{color:#000}#yui3-css-stamp.cssreset{display:none}

html, body {
	/*width: 100%;*/
	height: 100%;
    font-size: 12pt;
    line-height: 12pt;
    font-weight: 100;
    font-family: 'Roboto', arial, 'sans-serif';
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 320px;
    position: relative;
}

h1, h2, h3 {
	font-weight: 100;
}

h1 {
	color: #53AB1F;
	font-size: 1.7em;
	line-height: 1.4em;
	font-weight: 100;
}

h2 {
	color: #6E5747;
	font-size: 1.1em;
	font-weight: 100;
}

h3 {
	color: #6E5747;
	font-size: 1em;
	font-weight: 100;
	padding: 5px 5px;
	background-color: #f7f7f4;
}

h4 {
	color: #53AB1F;
	font-size: 1em;
}

.highlight {
	color: #53AB1F;
}

p.clear {
	clear: both;
}

.marquee, .tip {
	text-align: center;
	width: 385px; 						/* needs to be variable */
	height: 200px;						/* needs to be variable */
	display: table-cell;
	vertical-align: middle;
	border-top: 5px solid #CBC8B5;
	border-bottom: 5px solid #CBC8B5;
	background: url('../assets/bg-marquee.png');
}

.events_today {
	color: #53AB1F;
	text-align: left;
	width: 70%;
	margin: 0 auto;
}

.events_today li {
	padding: 4px 5px;
	font-size: 0.9em;
}

.event_time {
	color: #6e5747;
	float: right;
}

.tip {
	line-height: 1.4em;
}

.tip_body {
	font-size: 0.95em;
	width: 70%;
	margin: 0 auto;
}

.main_menu, .sub_menu, .final_menu {
	width: 100%;
	position: absolute;
	bottom: 0;
}

.main_menu li, .sub_menu li, .final_menu li {
	color: #6E5747;
	font-size: 1.3em;
    width: 100%;
    height: 65px;
    line-height: 65px;
    vertical-align: middle;
    border-bottom: 1px solid #D5D3C4;
    border-top: 1px solid #F7F7F4;
    background: linear-gradient(#efeee9, #eae9e1);
}

.main_menu li:last-child, .sub_menu li:last-child, .final_menu li:last-child {
    border-bottom: none;
} 

.final_menu {
	min-height: 200px;
	height: 350px; 
	max-height: auto;
	overflow-y: scroll;
}

.final_menu li {
	font-size: 1.2em;
	height: 50px;
	line-height: 50px;
}

.main_menu li div, .sub_menu li div {
	width: 65px;
	height: 65px;
	position: absolute;
}

.final_menu div {
	width: 9px;
	height: 50px;
	position: absolute;
}

.final_menu li.menu_preview, .menu_preview div {
	height: 65px;
}

.menu_preview span {
	padding-top: 12px;
	height: 52px;
	line-height: 22px;
}

.menu_preview p {
	color: #53AB1F;
	font-size: 0.7em;
	width: 95%;
}


/* 
BEGIN menu icons 
*/
.planner .btn_icon {
	background: url('../assets/icons/menu/planner.png') no-repeat;
}
.poc .btn_icon {
	background: url('../assets/icons/menu/poc.png') no-repeat;
}
.learning_center .btn_icon {
	background: url('../assets/icons/menu/learning.png') no-repeat;
}
.achievements .btn_icon {
	background: url('../assets/icons/menu/achievements.png') no-repeat;
}
.staying_well .btn_icon {
	background: url('../assets/icons/menu/stayingwell.png') no-repeat;
}
.antenatal .btn_icon {
	background: url('../assets/icons/placeholder.png') no-repeat 20px center;
}
.fam_planning .btn_icon {
	background: url('../assets/icons/placeholder.png') no-repeat 20px center;
}
.postnatal .btn_icon {
	background: url('../assets/icons/placeholder.png') no-repeat 20px center;
}
.learning_modules .btn_icon {
	background: url('../assets/icons/menu/learning_modules.png') no-repeat 20px center;
}
.learning_references .btn_icon {
	background: url('../assets/icons/menu/learning_references.png') no-repeat 20px center;
}
.diagnostic .btn_icon {
	background: url('../assets/icons/menu/diagnostic.png') no-repeat 20px center;
}
.counseling .btn_icon {
	background: url('../assets/icons/menu/counseling.png') no-repeat 20px center;
}
.calculators .btn_icon {
	background: url('../assets/icons/menu/calculators.png') no-repeat 20px center;
}
.references .btn_icon {
	background: url('../assets/icons/menu/references.png') no-repeat 20px center;
}
.final_menu .btn_icon {
	background: linear-gradient(#87C463, #53AB1F);
}
/* 
END menu icons 
*/


.main_menu li:hover, .sub_menu li:hover, .final_menu li:hover {
	background: linear-gradient(#E5E3DA, #DBD9CB);
}

.main_menu li:active, .sub_menu li:active, .final_menu li:active {
	color: #EFEEE9;
	font-weight: 400;
	background: linear-gradient(#928175, #6E5747);
}

.menu li span {
	display: block;
	vertical-align: middle;
	margin: 0 15px 0 80px;
}

.menu li span, .menu li span p {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.main_menu li span, .sub_menu li span, .menu_preview span {
	background: url('../assets/icons/right_charet.png') no-repeat right center;
}

.sub_menu li span {
	margin-left: 60px;
}

.final_menu li span {
	margin-left: 30px;
	padding-right: 25px;
}

.link_preview {
	font-size: 0.7em;
}

.main_title {
	margin-bottom: 35px;
}

.poc h4 { 						/* Point of Care page title */
	color: #53AB1F;
	font-size: 1.5em;
	text-align: center;
	font-weight: 300;
	line-height: 32px;
}

.poc h5 {						/* Point of Care page subtitle */
	color: #6E5747;
	font-size: 1.2em;
	text-align: center;
	font-weight: 300;
}

.poc h6 {						
	color: #6E5747;
	font-size: 1em;
	font-weight: 400;
	line-height: 1.4em;
	margin-bottom: 10px;
}

.scroll {
	min-height: 200px;
	height: 400px; 
	max-height: auto;
	overflow-y: scroll;
}

.triage_list li {
	color: #6E5747;
    max-width: 90%;
    width: 370px;
    line-height: 30px;
    margin: 0 auto 10px;
    background-color: #EFEEE9;
    text-align: center;
    display: block;
}

.triage_list li:hover {
	background-color: #E2E1D6;
}

.triage_list li:active {
	color: #EFEEE9;
	background-color: #6E5747;
	font-weight: 400;
}

.triage_list li span {
	display: inline-block;
	vertical-align: middle;
	line-height: 20px;
	padding: 17px 5px;
}

li.triage_urgent {
	color: #912A30;
}

li.triage_no {
	background-color: #E2E1D6;
}

#back_btn {
	width: 90px;
	height: 60px;
	left: 50%;
	margin-left: -45px;
	margin-bottom: 40px;
	background: #FFF url('../assets/btn-back.png') no-repeat center top;
	position: absolute;
	bottom: 0;
}

.sticky {
	width: 320px;
	margin: 15px auto 130px;
	/*bottom: 100px;*/
	display: block;
}

fieldset {
    border: dashed #53AB1F 1px;
    padding: 10px;
    margin-bottom: 25px;
}

legend {
	color: #6e5747;
	font-size: 1.1em;
	padding: 0 10px;
	line-height: 1.3em;
}

.check_list li {
	font-size: 0.9em;
	padding: 6px 10px;
	line-height: 1.3em;
}

.action_list li {
	font-size: .95em;
	padding: 9px 10px 9px 33px;
	line-height: 1.5em;
}

ul.action_list li {
	padding: 9px 10px;
}

.modal_link {
	padding: 4px 7px;
	margin: 0 3px;
	display: inline-block;
	background-color: #FFF;
	border: 1px dotted #53AB1F;
}

.modal_link:hover {
	background-color: #DDEED2;
}

.modal_link:active {
	background-color: #BADDA5;
}

ol {
    counter-reset:li;
    margin-left:0;
    padding-left:0;
}

ol > li {
    position:relative;
}

ol > li:before {
    content:counter(li);
    counter-increment:li;
    position: absolute;
    top: 0;
    left: -5px;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    width: 43px;
    padding: 9px;
    color: #DDDBCF;
    font-size: 1.5em;
    text-align:center;
}

.toolbox {
	margin: 30px auto;
	padding: 0;
	font-size: 0.9em;
	line-height: 1.3em;
	max-width: 90%;
	width: 370px;
}

.toolbox legend {
	height: 27px;
	width: 10px;
	margin: 15px 7px 5px;
	padding-bottom: 0;
	background: url('../assets/icons/lightning.png') no-repeat center 5px;
}

.toolbox li {
	padding: 0 30px 15px;
	line-height: 1.3em;
}

.check_list li:nth-child(odd),
.action_list li:nth-child(odd)  {
    background: #F7F7F4;
}

.action_list li:nth-child(odd)  {
    border-top: 1px solid #D5D3C4;
    border-bottom: 1px solid #D5D3C4;
}

.sublist li, .sublist li:nth-child(odd) {
	background: none;
	border: none;
	padding-bottom: 3px;
}


/*
BEGIN action page borders and header styles
*/
.action1:before, 
.action1:after,
.action2:before,
.action2:after,
.action3:before,
.action3:after {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    height: 9px;
}

.action1:before, 
.action1:after {
	background: #CBE6BB;
}

.action2:before, 
.action2:after {
	background: #F4E19D;
}

.action3:before, 
.action3:after {
	background: #D3AAAC;
}

.action1:before,
.action2:before,
.action3:before {
    top: 0;
}

.action1:after,
.action2:after,
.action3:after {
    bottom: 0;
}

.action1 {
    border-left: 9px solid #CBE6BB;
    border-right: 9px solid #CBE6BB;  
}

.action2 {
	border-left: 9px solid #F4E19D;
	border-right: 9px solid #F4E19D; 
}

.action3 {
	border-left: 9px solid #D3AAAC;
	border-right: 9px solid #D3AAAC; 
}

.action2 h4 {
	color: #F4E19D;
}

.action3 h4 {
	color: #D3AAAC;
}
/*
END action page borders and header styles
*/


/*
BEGIN image definitons
*/
.illustration {
	margin: 0 auto 20px;
	/*display: block;*/
	background: no-repeat left top;
}
ol .illustration, ul .illustration {
	margin: 0;
}
.illustration_float {
	/*display: block;*/
	float: left;
	margin-right: 8px;
}

.abdominalpains {
	width: 63px;
	height: 139px;
	background: url('../assets/images/abdominalpains.png');
	background-size: 63px 139px;
}
.anaemia {
	width: 70px;
	height: 99px;
	background: url('../assets/images/anaemiabig.png');
}
.bleeding {
	width: 49px;
	height: 129px;
	background: url('../assets/images/bleeding.png');
	background-size: 49px 129px;
}
.deliveryprep_small {
	width: 134px;
	height: 99px;
	background: url('../assets/images/deliveryprep.png');
	background-size: 134px 99px;
}
.fever {
	width: 118px;
	height: 140px;
	background: url('../assets/images/fever.png');
	background-size: 118px 140px;
}
.headaches {
	width: 68px;
	height: 124px;
	background: url('../assets/images/headaches.png');
	background-size: 68px 124px;
}
.saveforbirth {
	width: 250px;
	height: 188px;
	background: url('../assets/images/saveforbirth.png');
	background-size: 250px 188px;
}
.swelling {
	width: 82px;
	height: 112px;
	background: url('../assets/images/swelling.png');
	background-size: 82px 112px;
}
.transport {
	width: 250px;
	height: 125px;
	background: url('../assets/images/transpo.png');
	background-size: 250px 125px;
}
.transport2 {
	width: 250px;
	height: 125px;
	background: url('../assets/images/transpo2.png');
	background-size: 250px 125px;
}
.vomiting {
	width: 63px;
	height: 109px;
	background: url('../assets/images/excessivevomiting.png');
	background-size: 63px 109px;
}
/*
END image definitons
*/