<div class="menu">

    <div class="top-section">
        <h4>Tip #1</h4>

        <div class="tip_body">The fatigue felt in the first few months is due to high levels of pregnancy hormones.
            Later on, it's the body's way of telling the mother to slow down.
        </div>
    </div>

    <div class="bottom-section">
        <ul class="sub_menu">
            <li class="diagnostic menu_preview navigation-view" data-view="menu/counseling menu.html">
                <div class="btn_icon"></div>
        	<span>Diagnostic Tool<br>
        	<p>All ANC</p></span>
            </li>
            <li class="counseling menu_preview navigation-view" data-view="menu/anc counseling menu.html">
                <div class="btn_icon"></div>
        	<span>Counseling per Trimester<br>
        	<p>First Trimester, Second Trimester, Third Trimester</p></span>
            </li>
            <li class="calculators menu_preview">
                <div class="btn_icon"></div>
    		<span>Calculators<br>
    		<p>Malaria Treatment Drug Dosage, Estimating Trimester</p></span>
            </li>
            <li class="references menu_preview navigation-view" data-view="menu/references menu.html" data-type="fullscreen-view">
                <div class="btn_icon"></div>
    		<span>References<br>
    		<p>Tetanus Toxoid Immunisation, Infant Immunisation Schedule, IPTP Treatment</p></span>
            </li>
        </ul>
    </div>
</div>