<div class="menu">

    <div class="top-section">
        <h4>Tip #1</h4>

        <div class="tip_body">The fatigue felt in the first few months is due to high levels of pregnancy hormones.
            Later on, it's the body's way of telling the mother to slow down.
        </div>
    </div>

    <div class="bottom-section">
        <ul class="final_menu">
            <li>
                <div class="btn_icon"></div>
                <span>Breast Problems</span>
            </li>
            <li>
                <div class="btn_icon"></div>
                <span>Complication Readiness &amp; Newborn Danger Signs</span>
            </li>
            <li>
                <div class="btn_icon"></div>
                <span>Family Planning</span>
            </li>
            <li>
                <div class="btn_icon"></div>
                <span>Home Care for the infant</span>
            </li>
            <li>
                <div class="btn_icon"></div>
                <span>Immunisation Schedule for Infant</span>
            </li>
            <li class="menu_preview">
                <div class="btn_icon"></div>
	        <span>Infant Feeding<br>
	        <p>Importance of Exclusive Breastfeeding, Breast Attachment</p></span>
            </li>
            <li>
                <div class="btn_icon"></div>
                <span>Kangaroo Mother Care – Keeping Low Birth Weight Baby Warm at Home</span>
            </li>
            <li>
                <div class="btn_icon"></div>
                <span>Keeping Infant Warm &amp; Breastfeeding on the Way to the Hospital</span>
            </li>
            <li>
                <div class="btn_icon"></div>
                <span>Malaria Prevention</span>
            </li>
        </ul>
    </div>

</div>