<div class="poc poc_back">

<div class="outer">
    <div class="middle">
        <div class="inner">
			
			<div class="main_title">
				<h4>Birth Preparedness</h4>
			</div>
			
			<div class="deliveryprep_small illustration"></div>

            <div class="scroll">
                <ul class="advise_list">
                    <legend>Help client on birth preparedness and complication readiness plan, specifically on:</legend>
                	<ol class="action_list">
                		<li>Registering for health insurance</li>
                		<li>How to reach help when a complication develops</li>
            			<li>
            				<div class="transport2 illustration"></div>
            				Which family member(s) will accompany her
            			</li>
            			<li>
            				<div class="saveforbirth illustration"></div>
            				Plan for finances, transportation, and other preparations for delivery &amp; complications
            			</li>
            			<li>
            				<div class="transport illustration"></div>
            				Where to go for delivery/referral
            			</li>
            			<li>Blood donation</li>
            		</ol>
                </ul>
            </div>
            
        </div>
        
        <div id="back_btn"></div>
        
    </div>
</div>
</div>