<div class="poc">

<div class="outer">
    <div class="middle">
        <div class="inner">
			
			<div class="main_title">
            	<h4>Care during pregnancy</h4>
			</div>
			
			<ol class="action_list sublist">
				<li>
					<p class="modal_link">Client care and education</p>
				</li>
				<li>
					<p class="modal_link">Rest and Exercise</p>
				</li>
				<li>
					<p class="modal_link">Personal Hygiene</p>
				</li>
				<li>
					<p class="modal_link">Malaria Prevention</p>
				</li>
			</ol>

        </div>
    </div>
</div>
</div>