<div class="poc poc_back action1">
    <div class="outer">
        <div class="middle">
            <div class="inner">

                <div class="main_title">
                    <h4>Danger Signs</h4>
                </div>

                <div class="scroll">
                    <h6>Educate client on the danger signs of pregnancy, and importance of seeking medical care
                        immediately</h6>
                    <ul class="action_list">
                        <li class="image-view">
                            <div class="swelling illustration_float"></div>
                            Swelling of feet, hands, or face
                            <p class="clear"></p>
                        </li>
                        <li class="image-view">
                            <div class="headaches illustration_float"></div>
                            Severe headache or blurred vision
                            <p class="clear"></p>
                        </li>
                        <li class="image-view">
                            <div class="abdominalpains illustration_float"></div>
                            Severe abdominal pain
                            <p class="clear"></p>
                        </li>
                        <li class="image-view">
                            <div class="vomiting illustration_float"></div>
                            Persistent vomiting
                            <p class="clear"></p>
                        </li>
                        <li class="image-view">
                            <div class="bleeding illustration_float"></div>
                            Bleeding
                            <p class="clear"></p>
                        </li>
                        <li class="image-view">
                            <div class="fever illustration_float"></div>
                            Fever
                            <p class="clear"></p>
                        </li>
                        <li class="image-view">
                            <div class="anaemia illustration_float"></div>
                            Anaemia
                            <p class="clear"></p>
                        </li>
                        <li class="image-view">
                            Pale conjunctiva, tongue, palms, nail beds
                        </li>
                        <li class="image-view">
                            Absence of foetal movements
                        </li>
                        <li class="image-view">
                            Jaundice
                        </li>
                        <li class="image-view">
                            Offensive or discoloured discharge from vagina
                        </li>
                        <li class="image-view">
                            Bleeding from the vagina
                        </li>
                    </ul>
                </div>
            </div>

            <div id="back_btn" class="back-buttin"></div>

        </div>
    </div>
</div>