<div class="poc poc_back">

    <div class="outer">
        <div class="middle">
            <div class="inner">

                <div class="main_title">
                    <h4>Examine the patient</h4>
                </div>

                <div class="scroll">
                    <fieldset>
                        <legend><strong>Ask:</strong> Do they have...?</legend>
                        <ul class="check_list">
                            <li>Severe headache</li>
                            <li>Severe abdominal pains</li>
                            <li>Excessive vomiting</li>
                            <li>Blurred vision</li>
                            <li>Offensive/discoloured vaginal discharge</li>
                            <li>Fever</li>
                            <li>Difficulty breathing</li>
                            <li>Epigiastric pain</li>
                            <li>Foetal movements</li>
                        </ul>
                    </fieldset>

                    <fieldset>
                        <legend><strong>Look, listen,feel:</strong></legend>
                        <ul class="check_list">
                            <li>Examine conjunctiva, tongue, palms, and nail beds for palor</li>
                            <li>Odaema of the feet, hands face, ankles</li>
                            <li>Bleeding</li>
                            <li>Jaundice</li>
                            <li>Signs of shock</li>
                            <li>Offensive vaginal discharge</li>
                        </ul>
                    </fieldset>

                    <fieldset>
                        <legend><strong>Check:</strong></legend>
                        <ul class="check_list">
                            <li>Blood pressure, if possible</li>
                            <li>Temperature</li>
                            <li>Pulse</li>
                        </ul>
                    </fieldset>

                    <ul class="triage_list">
                        <li class="navigation-view" data-view="poc/triage4.html"><span>Next</span></li>
                    </ul>
                </div>

            </div>

            <div id="back_btn" class="back-button"></div>

        </div>
    </div>
</div>