<!-- top section -->
<div class="padding-left-15 chn-lighter-grey-background color-black height-200 border-bottom border-width-01 chn-dark-grey-border position-relative">
    <div class="position-relative">
        <div class="spacer-30"></div>
        <h3 class="font-light margin-00 padding-00 subheader">
            Counselling per Trimester
        </h3>
    </div>
</div>
<!-- top section -->

<!-- navigation item -->
<div data-id="point-of-care-first-trimester-question-1" data-type="center-view" data-title="First Trimester Counselling" data-view="point-of-care/point-of-care-first-trimester-question-1.html"
     class="row navigation-view mouse-pointer border-bottom padding-top-08 min-width-percent-100 padding-bottom-08 border-width-01 chn-dark-grey-border">
    <div class="small-12 medium-12 margin-00
    padding-00 large-12 columns
    columns-padding-left columns-padding-right
     min-width-percent-100 ">
        <div class="small-1 medium-1 large-2 columns margin-00 padding-00">
            <img class="margin-top-09" src="assets/icons/placeholder-black-icon.png" width="22">
        </div>
        <div class="small-8 medium-8 large-8 columns margin-00 padding-00">
            <h6 class="font-light margin-00 padding-00 margin-top-10 margin-left-14 subheader color-black">
                First Trimester Counselling
            </h6>
        </div>
        <div class="small-2 medium-2 large-2 columns margin-00 padding-00">
            <img class="margin-10 margin-right-00 display-block" src="assets/icons/arrow-right-icon.png" width="9">
        </div>
    </div>
</div>
<!-- navigation item -->

<!-- navigation item -->
<div class="row border-bottom padding-top-08 min-width-percent-100 padding-bottom-08 border-width-01 chn-dark-grey-border">
    <div class="small-12 medium-12 margin-00
    padding-00 large-12 columns
    columns-padding-left columns-padding-right
     min-width-percent-100 ">
        <div class="small-1 medium-1 large-2 columns margin-00 padding-00">
            <img class="margin-top-09" src="assets/icons/placeholder-black-icon.png" width="22">
        </div>
        <div class="small-8 medium-8 large-8 columns margin-00 padding-00">
            <h6 class="font-light margin-00 padding-00 margin-top-10 margin-left-14 subheader color-black">
                Second Trimester Counselling
            </h6>
        </div>
        <div class="small-2 medium-2 large-2 columns margin-00 padding-00">
            <img class="margin-10 margin-right-00 display-block" src="assets/icons/arrow-right-icon.png" width="9">
        </div>
    </div>
</div>
<!-- navigation item -->

<!-- navigation item -->
<div class="row border-bottom padding-top-08 min-width-percent-100 padding-bottom-08 border-width-01 chn-dark-grey-border">
    <div class="small-12 medium-12 margin-00
    padding-00 large-12 columns
    columns-padding-left columns-padding-right
     min-width-percent-100 ">
        <div class="small-1 medium-1 large-2 columns margin-00 padding-00">
            <img class="margin-top-09" src="assets/icons/placeholder-black-icon.png" width="22">
        </div>
        <div class="small-8 medium-8 large-8 columns margin-00 padding-00">
            <h6 class="font-light margin-00 padding-00 margin-top-10 margin-left-14 subheader color-black">
                Third Trimester Counselling
            </h6>
        </div>
        <div class="small-2 medium-2 large-2 columns margin-00 padding-00">
            <img class="margin-10 margin-right-00 display-block" src="assets/icons/arrow-right-icon.png" width="9">
        </div>
    </div>
</div>
<!-- navigation item -->