<h1 class="margin-bottom-20">Does the client have any of the following?</h1>

<ul class="triage_list height-200 overflow-scroll-y">
    <li data-id="point-of-care-examine-the-patient"
        view-type="center-view"
        data-view="point-of-care/point-of-care-examine-the-patient.html"
        class="triage_btn navigation-view">
        <a href="#">Excessive vomiting</a>
    </li>
    <li class="triage_btn">
        <a href="#">Offensive/discolored discharge</a>
    </li>
    <li class="triage_btn">
        <a href="#">Severe abdominal pain</a>
    </li>
    <li class="triage_btn">
        <a href="#">Foetal movements</a>
    </li>
    <li class="triage_btn">
        <a href="#"> Epigastric pain</a>
    </li>
</ul>

<ul class="triage_list">
    <li class="triage_btn triage_btn_no margin-top-20">
        <a href="#">No</a>
    </li>
</ul>

<div class="back_button back-button">
</div>

