<!-- top section -->
<div class="top-section">

    <h1>message goes here</h1>
</div>
<!-- top section -->

<!-- bottom section -->
<div class="bottom-section">
    <ul class="menu_button_list">
        <li class="menu_button">
            <a href="#">
                <span class="button_icon background-none"></span>
                <span class="button_text">Antenatal Care</span>
            </a>
        </li>
        <li class="menu_button">
            <a href="#">
                <span class="button_icon"></span>
                <span class="button_text">Family Planning</span>
            </a>
        </li>
        <li class="menu_button">
            <a href="#">
                <span class="button_icon"></span>
                <span class="button_text">Postnatal Care</span>
            </a>
        </li>
        <li class="menu_button">
            <a href="#">
                <span class="button_icon"></span>
                <span class="button_text">Achievements</span>
            </a>
        </li>
    </ul>
</div>
<!-- bottom section -->