<h4 class="margin-bottom-20">Examine the patient</h4>
<div class="overflow-scroll-y height-200">
    <fieldset>
        <legend>ASK <span class="font-light">Do they have...?</span></legend>
        <ul class="triage_list">
            <li class="examine-patient examine-patient-color">
                Severe headache
            </li>
            <li class="examine-patient examine-patient-color">
                Severe abdominal pains
            </li>
            <li class="examine-patient examine-patient-color">
                Excessive vomiting
            </li>
            <li class="examine-patient examine-patient-color">
                Blurred vision
            </li>
            <li class="examine-patient examine-patient-color">
                Offensive/discoloured vaginal discharge
            </li>
            <li class="examine-patient examine-patient-color">
                Fever
            </li>
            <li class="examine-patient examine-patient-color">
                Difficulty breathing
            </li>
            <li class="examine-patient examine-patient-color">
                Epigiastric pain
            </li>
            <li class="examine-patient examine-patient-color">
                Foetal movements
            </li>
        </ul>
    </fieldset>
    <fieldset>
        <legend>look,listen,feel:</legend>
        <ul class="triage_list">
            <li class="examine-patient examine-patient-color">
                Examine conjunctive, tongue palms, and nail beds for palor
            </li>
            <li class="examine-patient examine-patient-color">
                Odaema of the feet, hands face, ankles
            </li>
            <li class="examine-patient examine-patient-color">
                Bleeding
            </li>
            <li class="examine-patient examine-patient-color">
                Jaundice
            </li>
            <li class="examine-patient examine-patient-color">
                Signs of shock
            </li>
            <li class="examine-patient examine-patient-color">
                Offensive vaginal discharge
            </li>
        </ul>
    </fieldset>
    <fieldset>
        <legend>look,listen,feel:</legend>
        <ul class="triage_list">
            <li class="examine-patient examine-patient-color">
                Examine conjunctive, tongue palms, and nail beds for palor
            </li>
            <li class="examine-patient examine-patient-color">
                Odaema of the feet, hands face, ankles
            </li>
            <li class="examine-patient examine-patient-color">
                Bleeding
            </li>
            <li class="examine-patient examine-patient-color">
                Jaundice
            </li>
            <li class="examine-patient examine-patient-color">
                Signs of shock
            </li>
            <li class="examine-patient examine-patient-color">
                Offensive vaginal discharge
            </li>
        </ul>
    </fieldset>
    <fieldset>
        <legend>CHECK:</legend>
        <ul class="triage_list">
            <li class="examine-patient examine-patient-color">
                Blood pressure, if possible
            </li>
            <li class="examine-patient examine-patient-color">
                Temperature
            </li>
            <li class="examine-patient examine-patient-color">
                Pulse
            </li>
        </ul>
    </fieldset>
    <ul class="triage_list">
        <li class="triage_btn triage_btn_no margin-top-20">
            <a href="#">Next</a>
        </li>
    </ul>
</div>

<div class="back_button back-button">
</div>

