<h1 class="margin-bottom-20">What is the client's current gestational age</h1>
<ul id="triage_list">
    <li data-id="point-of-care-first-trimester-question-5"
        data-type="center-view"
        data-view="point-of-care/point-of-care-first-trimester-question-5.html"
        class="triage_btn navigation-view">
        <a href="#">1st Trimester</a>
    </li>
    <li class="triage_btn">
        <a href="#">2nd Trimester</a>
    </li>
    <li class="triage_btn">
        <a href="#">3nd Trimester</a>
    </li>
    <li class="calculator_btn">
        <a href="#">3nd Trimester</a>
    </li>
</ul>

<div class="back_button back-button">
</div>
