<div class="spacer-20"></div>

<div class="row">
    <div class="small-9 medium-3 large-3 large-centered medium-centered small-centered columns">
        <h4 class="subheader padding-00 margin-00 color-black text-center font-regular">
            Take Action <span class="font-thin">(first trimester)</span>
        </h4>
    </div>
</div>

<div class="spacer-20"></div>

<div class="mouse-pointer back-button ">

    <div class="row">
        <div class="small-10 medium-4 large-4 position-relative height-300 overflow-scroll-y padding-top-16 large-3 large-centered medium-centered small-centered columns">

            <div class="bottom-00 hide position-absolute z-index-90">
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAUsAAAAnCAYAAACG9moLAAAAwElEQVR42u3XuxHDMAxEQd6I1sfuv1am7kBIGFCa3RIueAP0MUYaALd6a20zA0Ady24GgDqWHzMAFLFMIpYALkuAObHczQAglgBTYnmYAaCIZRKXJYDLEkAsAcQSYKVYnmYAKGKZRCwBXJYAYgkglgDLxDLJZQYAlyXAlFi6LAG84QAuSwCxBBBLgCfFMsnXDAD1ZSmWAN5wAG84gDccQCwBvOEA77ssf2YAqGPZzQBQxxIAsQQQSwCxBBBLgAf5A+e3BJkff5PxAAAAAElFTkSuQmCC">
            </div>

            <div class="position-relative padding-05 padding-top-13">

                <div class="chn-lighter-grey-background padding-06">
                    <h3 class="subheader float-left font-regular padding-00 margin-00">
                        1.
                    </h3>
                    <h6 class="subheader float-left color-black font-regular padding-00 margin-00 margin-top-12 margin-left-04">
                        Give TT injection, if indicated
                    </h6>

                    <div class="clear-both"></div>
                </div>

                <div class=" padding-06">
                    <h3 class="subheader float-left font-regular padding-00 margin-00">
                        3.
                    </h3>
                    <h6 class="subheader float-left color-black font-regular padding-00 margin-00 margin-left-04">
                        If available, provide iron/folate supplements: 1 iron tablet (60 mg) + 1 folic acid tablet (0.5
                        mg) to be taken daily
                    </h6>

                    <div class="clear-both"></div>
                </div>

                <div class=" padding-06">
                    <h3 class="subheader float-left font-regular padding-00 margin-00">
                        3.
                    </h3>
                    <h6 class="subheader float-left color-black font-regular padding-00 margin-00 margin-left-04">
                        If available, provide multivitamin supplements
                    </h6>

                    <div class="clear-both"></div>
                </div>

            </div>
        </div>
    </div>


</div>

<div class="spacer-40"></div>


<div class="row position-absolute mouse-pointer padding-00 margin-00 min-width-percent-100 back-button bottom-10 margin-center">
    <div class="small-4 medium-1 large-1 large-centered medium-centered small-centered columns">
        <div class="row padding-top-06 padding-bottom-06">
            <div class="small-12 medium-12 large-12 columns">
                <div>
                    <img src="assets/btn-back.png">
                </div>

            </div>
        </div>
    </div>
</div>