<!-- top section -->
<div class="top-section">

    <div class="">
        <div>

            events goes here

        </div>
        <div>
          other things go here
        </div>

    </div>
</div>
<!-- top section -->

<!-- bottom section -->
<div class="bottom-section">
    <ul class="menu_button_list">
        <li class="menu_button">
            <a href="#">
                <span class="button_icon"></span>
                <span class="button_text">Planner</span>
            </a>
        </li>
        <li class="menu_button">
            <a href="#" class="navigation-view" data-view="poc/poc-antenatal-care.html" data-type="fullscreen-view">
                <span class="button_icon"></span>
                <span class="button_text">Point of Care</span>
            </a>
        </li>
        <li class="menu_button">
            <a href="#">
                <span class="button_icon"></span>
                <span class="button_text">Learning Center</span>
            </a>
        </li>
        <li class="menu_button">
            <a href="#">
                <span class="button_icon"></span>
                <span class="button_text">Achievements</span>
            </a>
        </li>
    </ul>
</div>
<!-- bottom section -->