<h2>Does the client have a fever?</h2>

<h6>(temperature greater than 38&deg;)</h6>

<!--placeholder image -->
<div class="point_of_care_img">
    <img width="128" height="128"
         src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAACABAMAAAAxEHz4AAAAD1BMVEUAAAAAAAAAAAAAAAAAAABPDueNAAAABHRSTlMAEGlypYEFFAAAAhxJREFUaIHdmclxwzAMRRVVkKSCZMYluAI7/dcULSTFBQvJN75YZ+L9L4kbgOUPPst7AJ5fk889OvhZpp41vcJjDnALgPukhc3A8wB8T1rYDPwegM/blIXNwOPjBKxTFnbZAFhmLByqETBj4RCNgAkLp2YCjFs4JRNg2EJQvACjFoLgBRi0EPUywJiFKJcBhiwktRwwYiGJ5YABC5dWAei3cEkVgG4LmVIJ6LWQCZWATgu5TgXos5DLVIAuC4VKDeixUIjUgA4LpUYD8C2UEg3AtVAptADPQiXQAhwLNV8A2BZqvAAwLTR0CWBZaOASwLDQskWAbqFFiwDVgkCWAZoFASwDFAsSVwHIFiSsAhDHilQNIA0W30sDCKPl11IB7XD5w6qAZrzya3VAHaBMLh1QRWhzywCUIdrsNgBFjLq+LEAepK5wC5BF6QvcBFxh+hZjAlKcscnZgBhobLM2IERau6wDOEOtfd4BHLHmSeMB9mDzrPMAZ2JnHHUuYHXSUhewW7CO+9cD8CvQj4h/I51IeCrTxYSXM91Q8JZGN1W8rdODBR9t9HDFxzu9YOArDr1k4WsevWjiqy69bOPrPk04cMpDky6c9tHEE6e+NPnG6T8tQOASCC3C4DIQLUThUhgtxuFyIC1I4pIoLcrisjAtTOPSOC3O4/YAbVDgFglt0uA2EW1U4VYZbdbhdiFuWOKWKW/a8rYxed4A8A+QQtEs99ELegAAAABJRU5ErkJggg==">
</div>
<!--placeholder image -->


<ul id="triage_list">
    <li data-id="point-of-care-first-trimester-question-4"
        data-type="center-view"
        data-view="point-of-care/point-of-care-first-trimester-question-4.html"
        class="triage_btn navigation-view">
        <a href="#">Yes</a>
    </li>
    <li class="triage_btn triage_btn_no">
        <a href="#">No</a>
    </li>
</ul>

<div class="back_button back-button"></div>

