<div class="menu">

    <div class="top-section">
        <h4>Tip #1</h4>

        <div class="tip_body">The fatigue felt in the first few months is due to high levels of pregnancy hormones.
            Later on, it's the body's way of telling the mother to slow down.
        </div>
    </div>

    <div class="bottom-section">
        <ul class="sub_menu">
            <li class="antenatal navigation-view" data-view="antenatal care menu.html" data-type="fullscreen-view">
                <div class="btn_icon"></div>
                <span>Antenatal Care</span>
            </li>
            <li class="fam_planning">
                <div class="btn_icon"></div>
                <span>Family Planning</span>
            </li>
            <li class="postnatal">
                <div class="btn_icon"></div>
                <span>Postnatal Care</span>
            </li>
        </ul>
    </div>

</div>