<div class="poc poc_back">

    <div class="outer">
        <div class="middle">
            <div class="inner">
                <div class="page-with-back-button">
                    <div class="main_title">
                        <h4>Does the client have any of the following?</h4>
                    </div>

                    <ul class="triage_list scroll">
                        <li class="triage_urgent navigation-view" data-view="poc/take action 1.html"><span>Excessive vomiting</span>
                        </li>
                        <li class="triage_urgent"><span>Offensive/discolored discharge </span></li>
                        <li class="triage_urgent"><span>Severe abdominal pain</span></li>
                        <li class="triage_urgent"><span>Foetal movements</span></li>
                        <li class="triage_urgent"><span>Epigastric pain</span></li>
                        <li class="triage_urgent"><span>Bleeding</span></li>
                        <li class="triage_urgent"><span>Oedema of feet, face, or ankles</span></li>
                        <li class="triage_urgent"><span>BP ≥ 90mm Hg</span></li>
                        <li class="triage_urgent"><span>Severe headache/blurred vision</span></li>
                        <li class="triage_urgent"><span>Difficulty breathing</span></li>
                        <li class="triage_urgent"><span>Signs of shock</span></li>
                    </ul>

                    <ul class="triage_list sticky">
                        <li class="triage_no"><span>No</span></li>
                    </ul>

                </div>
            </div>

            <div id="back_btn" class="back-button"></div>

        </div>
    </div>
</div>

