<div class="poc poc_back">
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <div class="page-with-back-button">
                    <div class="main_title">
                        <h4>Is this her first time seeing a nurse or a midwife?</h4>
                    </div>

                    <ul class="triage_list">
                        <li><span>Yes</span></li>
                        <li class="triage_no navigation-view" data-view="poc/examine.html"><span>No</span></li>
                    </ul>

                </div>
            </div>
            <div id="back_btn" class="back-button"></div>

        </div>
    </div>
</div>