<div class="poc">
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <div class="main_title">
                    <h4>Where are you<br>encountering the client?</h4>
                </div>
                <ul class="triage_list">
                    <li class="navigation-view" data-view="poc/triage2.html"><span>Home visit</span></li>
                    <li><span>Outreach clinic</span></li>
                    <li><span>CHPS facility</span></li>
                    <li><span>Health facility</span></li>
                    <li><span>Hospital</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
